@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Calibri", sans-serif;
}
.tab{
    font-family: "Calibri", sans-serif;
}

.backgound2{
    background: url(../../public/img/mandate.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.volunteer{
    background: url(../../public/img/volunteer.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.involved{
    background: url(../../public/img/involve.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
